.card-style{
    border: 1px black!important;
    border-style:solid;
}
.font{
    font-family: 'Courier New', Courier, monospace;
}
.mapHeight{
    height: 100vh;
    width: 100%
}

@media only screen and (max-width: 765px) {
    .mapHeight{
        height: 65vh;
    } 
}