.card-style{
    border: 1px black!important;
    border-style:solid;
}
.font{
    font-family: 'Courier New', Courier, monospace;
}
.mapHeight{
    height: 100vh;
    width: 100%
}
.listHeight{
    height: 88.5vh;
    width: 100%;
}
.routeStyle{
    width: 100px;
    height:100%;
    text-align:center;
    color: yellow;
    background-color:black;
}
.markerStyle{
    border-radius: 30%;
    height:35px!important;
    width:30px!important;
    background-color: black;
    padding-top:6px!important;
}
@media only screen and (max-width: 765px) {
    .mapHeight{
        height: 55vh;
    } 
    .listHeight{
        height: 55vh;
    }
}