
.card-style{
    border: 1px black!important;
    border-style:solid;
}
.font{
    font-family: 'Courier New', Courier, monospace;
}
.mapHeight{
    height: 100vh;
    width: 100%
}
.listHeight{
    height: 88.5vh;
    width: 100%;
}
.routeStyle{
    width: 100px;
    height:100%;
    text-align:center;
    color: yellow;
    background-color:black;
}
.markerStyle{
    border-radius: 30%;
    height:35px!important;
    width:30px!important;
    background-color: black;
    padding-top:6px!important;
    box-shadow: '3px 3px 1px black';
}
.displayModal{
    display:none;
}
.activeModal{
    position: fixed;
    top: 0;
    width:100%;
    height: 300px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.6);
    margin-top: 250px!important;
}
.dim{
    /* height:848px!important; */
    position: fixed!important;
    top: 0!important;
    left: 0!important;

}
@media only screen and (max-width: 765px) {
    .mapHeight{
        height: 55vh;
    } 
    .dim{
        height:1200px!important;
        margin-bottom: 200px!important;
    }
    /* .activeModal{
        margin-top: 200px!important;
    } */
    .listHeight{
        height: 55vh;
    }
}